<%= form_with(model: reminder, local: true) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>



  <fieldset>
    <legend> <%= form.label :month_day %> </legend>
    <div class="field">

      <%= form.number_field :month_day, min: 1 , max:31 %>
    </div>
    <label> <input type="radio" id="pos" name="direction" value="positive" selected="true" checked> From Start Of Month </label>
    <label> <input type="radio" id="meg" name="direction" value="negative" > From End Of Month </label>
    <label>To select the end of month put 1 in the text box and choose the "From End of Month" radio button </label>
    <label>To select the second day from end of month put 2 in the text box and choose the "From End of Month" radio button </label>
    <label>and so on</label>
  </fieldset>

  <div class="field">
    <%= form.label :day_time %>
    <%= form.time_select :day_time%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
