<%= form_with(model: reminder, local: true) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <table>
    <tr>
      <td>
        <div class="field">
          <%= form.label :month_day %>
          <%= form.number_field :month_day, min: 1 , max:31 %>
        </div>
      </td>

      <td>
        <input type="radio" id="pos" name="direction" value="positive" selected="true" checked>
        <label for="pos">From Start Of Month</label><br>
      </td>
      <td>
        <input type="radio" id="meg" name="direction" value="negative">
        <label for="neg">From End Of Month</label>
      </td>
   </tr>
  </table>

  <div class="field">
    <%= form.label :day_time %>
    <%= form.time_select :day_time%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
