<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reminder.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reminder.description %>
</p>

<p>
  <% days = @reminder.month_day %>
  <% days = ((days = days * -1).to_s + " days From End of Month ") if days < 0 %>

  <strong>Month day:</strong>
  <%= days %>
</p>

<p>
  <strong>Day time:</strong>
  <%= @reminder.day_time.strftime("%H:%M:%S %z") %>
</p>

<p>
  <strong>User:</strong>
  <%= @reminder.user.email %>
</p>

<%= link_to 'Back', reminders_path %>
